img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 60px 20px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 100px 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 100px 16px;
  }
}
