<header class="header">
    <div class="container header-container">
        <nav class="nav">
            <a href="" class="nav__logo">
                <svg class="nav__icon" width="66" height="52">
                    <use href="./images/header/icons.svg#icon-logo"></use>
                </svg>
            </a>
        </nav>
                      <!-- Mobile menu -->
        <button class="button-menu" type="button" aria-label="menu-open" data-menu-open>
            <svg class="button-menu__svg" width="28" height="28">
              <use href="./images/header/icons.svg#icon-gg_menu"></use>
            </svg>
           </button>
         <div class="menu-overlay is-open" data-menu>
            <div class="mobile-container">
                <nav class="mobile-nav">
                    <ul class="mobile-list">
                        <li class="mobile-list__item list"><a class="mobile-list__link link" href="">Home</a></li>
                        <li class="mobile-list__item list"><a class="mobile-list__link link" href="">About</a></li>
                        <li class="mobile-list__item list"><a class="mobile-list__link link" href="">Service</a></li>
                        <li class="mobile-list__item list"><a class="mobile-list__link link" href="">Menu</a></li>
                        <li class="mobile-list__item list"><a class="mobile-list__link link" href="">Contact</a></li>
                      </ul>
                </nav>
            </div>
    </div>
</header>
<script src="/js/menu.js" ></script>