<section class="section subscribe__section">
  <div class="container container__subscribe">
    <div class="subscribe__content">
      <h2 class="section-title subscribe__title">Subscribe To Get Special Offers</h2>
      <p class="subscribe__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim <br>in eros elementum tristique.
      </p>
      <form class="subscribe__form">
        <label class="form__group">
            <input class="form__input" type="email" placeholder="Enter your email"/>
        </label>
      <button class="subscribe__btn" type="submit">Subscribe</button>
    </form>
    </div>
    <div class="subscribe__img">
        <img
        srcset="./images/subscribe/banan-mob.png 280w,
        ./images/subscribe/banan-mob-ret.png 560w,
        ./images/subscribe/banan-tab.png 281w,
        ./images/subscribe/banan-tab-ret.png 562w,
        ./images/subscribe/banan-desk.png 608w,
        ./images/subscribe/banan-desk-ret.png 1216w
        "
        sizes="(min-width: 1280px) 608px, (min-width: 768px) 281px, (min-width: 480px) 280px"
        src="./images/subscribe/banan-desk.png"
        alt="банан"
        width="608"
        />
    </div>
  </div>
</section>
